body
{
    margin: 0%;
    padding: 0%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

hr
{
    color: #e7f6ff;
    width: 95%;
}

.header
{
    display: grid;
    grid-template-columns: 0.5fr 2fr 2fr 2fr 0.5fr;
    grid-template-areas: ". header-logo . header-side header-side";
}

.header-logo
{
    grid-area: header-logo;
    padding: 2vh;
}

.header-logo > img
{
    height: 100%;
    width: 100%;
}

.header-side
{
    grid-area: header-side;
    display: grid;
    grid-template-rows: 0.8fr 1fr;
    row-gap: 1vh;
}

.social-icon
{
    color:#509ac9;
    font-size: 18px;
    margin-left: 1%;
    margin-right: 1%;
}

.social-media-row
{
    display: grid; 
    grid-template-columns: auto; 
}

.social-media-header
{
    display: flex;
    justify-content: center; /* Horizontally Center Items */
    justify-self: flex-end; /* Horizontally Center */
    align-items: center; /* Vertically Center */
    width: 25vw;    
    background-color: #f5f5f5;
    border-bottom-left-radius: 5em;
}

.search-bar
{
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.search-bar > button
{
    position: relative;
    right: 2em;
    font-size: 1.5em;
    color:#d8d8d8;
    background-color: white;
    border: none;
    height: fit-content;
}

.header-search
{
    width: 15vw;
    height: 6vh;
    font-size: 25px;
    padding-left: 2%;
    padding-right: 8%;
    margin-top: 1vh;
    margin-bottom: 1vh;
    border: 1px solid #d8d8d8;
}

.menu
{
    grid-area: menu;
}

.menu a 
{
    text-decoration: none;
}

.menu li 
{
    list-style: none;
}

.menu-container
{
    display: grid;
    grid-template-columns: 0.5fr 2fr 2fr 2fr 0.5fr;
    grid-template-areas: ". menu menu menu .";
    height: fit-content;
    text-align: center;
    font-family: sans-serif;
    background-color: #2b518b;
}

.menu ul 
{
    height: inherit;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu ul a 
{
    padding: 2em 2em;
    height: inherit;
    color: white;
    font-weight: bold;
    display: inline-block;
}

.menu ul a:hover 
{
    background-color: #509ac9;
    color: #fff;
}

#menuToggle 
{
    display: none;
}

.menu-icon 
{
    display: none;
}

.container-card
{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr 2fr 1fr;
    grid-template-areas: ". main-card main-card . .";
    align-items: center;
    height: 100%;
}

.main-card
{
    grid-area: main-card;
    display: grid;
    grid-template-rows: 2fr auto 1.5fr;
    background-color: #f5f5f5;
    opacity: 0.8;
    height: 35vh;
    padding: 1vh 2vw;
}

.card-title
{
    font-size: 3vh;
    font-weight: 700;
    text-overflow:ellipsis;
    height: 10vh;
    padding: 1vh 0vh;
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    white-space: normal;
}

.card-description
{
    overflow: hidden;
    font-size: 22px;
    text-overflow:ellipsis;
    text-align: justify;
    overflow:hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    white-space: normal;
}

.card-btn
{
    align-self: center;
}

.image-box-btn
{
    background-color: #2b518b;
    border: none;
    color:white;
    width: fit-content;
    padding: 1.5vh 2vh;
    font-size: 20px;
}

.image-box-btn:hover
{
    background-color: #264779;
}

.box
{
    display: grid;
    grid-template-columns: 0.5fr 2fr 2fr 2fr 0.5fr;
    grid-template-areas: ". box-image box-details box-details .";
    margin-top: 1em;
    padding: 2em;
}

.box-image
{
    grid-area: box-image;
}

.box-details
{
    grid-area: box-details;
    display: grid; 
    grid-template-rows: auto auto auto;
    height: fit-content;
}

.box-image > img
{
    height: 85%;
    width:100%; 
    padding: 5%;
    box-sizing: border-box;
}

.box-details-title
{
    font-size: 3vh;
    font-weight: 700;
    text-overflow:ellipsis; 
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    white-space: normal;
}

.box-details-description
{
    overflow: hidden;
    font-size: 22px;
    text-overflow:ellipsis;
    text-align: justify;
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    white-space: normal;
}

.box-details > .image-box-btn
{
    margin-top: 10%;
}

.box-details > .box-details-btn
{
    margin-top: 0.5em;
}

.parent 
{
    display: grid;
    grid-template-columns: 0.5fr 2fr 4fr 0.5fr;    
    font-size: 20px;
} 

.parent > div
{
    padding: 2em;    
}

.event-container
{
    display: grid;
    grid-template-columns: 0.6fr 2fr 2fr 2fr 0.6fr;
    column-gap: 2em;
    grid-template-areas: ". ec1 ec2 ec2 .";
    margin-top: 5vh;
}

.event-column-1
{
    grid-area: ec1;
    padding: 1vw;
    display: grid;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    grid-template-rows: auto auto auto auto auto;
}

.event-column-2
{
    grid-area: ec2;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    grid-template-rows: auto auto auto auto auto;
    align-items: center;
}

.event-column-2-list-item
{
    display: grid; 
    grid-template-columns: 1fr 4fr;
    grid-template-areas: "ecli eclid";
    column-gap: 1em;
    padding: 2em 1em;
}

.event-column-2-list-item-image
{
    grid-area: ecli;
}

.event-column-2-list-item-details
{
    grid-area: eclid;
    height: fit-content; 
    display: grid; 
    grid-template-rows: auto 2fr 3fr
}

.content-container
{
    display: grid;
    grid-template-columns: 1fr 5fr 5fr 1fr;
    column-gap: 50px;
    max-height: 100%;
    margin-top: 8vh;
}

.content-container-left
{
    grid-column-start: 2;
    display: grid;
    grid-template-rows: auto auto 0.3fr 0.3fr 0.3fr auto;
    
}

.content-container-right
{
    display: grid;
    grid-template-rows: auto 1fr auto 0.3fr 0.3fr 0.3fr auto;
}

.content-publications
{
    background-color: #f5f5f5;
    margin-bottom: 1em;
    padding-left: 1em;
    color: #2b518b;
    font-size: 20px;
}

.limit-para
{
    text-align: justify;
    font-size: 2vh;
    text-overflow:ellipsis;
    overflow:hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    white-space: normal;
}

.blog-container
{
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 3fr 1fr;
    grid-template-rows: auto 4fr auto;
    column-gap: 2em;
    grid-template-areas: ". blog-header blog-header blog-header ." ". blog-post1 blog-post2 blog-post3 ." ". blog-footer blog-footer blog-footer .";
}

.blog-header
{
    grid-area: blog-header;
    display: flex; 
    justify-content: center;
    font-size: 35px;
    font-weight: 700; 
    color: #333333;
    margin-top: 1em;
}

.blog-post
{
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.blog-post > div
{
    margin: 0.5em 1em 0.5em 1em;
}

.blog-post1
{
    grid-area: blog-post1;
    height: fit-content;
}

.blog-post2
{
    grid-area: blog-post2;
}

.blog-post3
{
    grid-area: blog-post3;
}

.blog-footer
{
    grid-area: blog-footer;
    text-align: center;
    margin-top: 2em;
}

.footer
{
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
    color: white;
    font-weight: 600;
    margin-top: 4em;
}

.footer-head
{
    display: grid;
    grid-template-columns: 0.5fr 2fr 2fr 2fr 0.5fr;
    grid-template-areas: ". fhd fhd fhs .";
    background-color: #2b518b;
    align-items: center;
    font-size: 20px;
}

.footer-head-links
{
    grid-area: fhd;
}

.footer-head-links > ul > li
{
    list-style-type: none; 
    display: inline-block;
    padding-right: 2em;
}

.footer-head-social
{
    grid-area: fhs;
    color:white;
    justify-self: flex-end;
}

.footer-head-social > a > i
{
    color:white;
    margin-right: 0.5em;
    font-size: 35px;
    vertical-align: middle;
}

.footer-body
{
    display: grid;
    grid-template-columns: 0.65fr 2fr 2fr 2fr 0.5fr;
    grid-template-areas: ". fbc1 fbc2 fbc3 .";
    background-color: #2b518b;
    padding-top: 2em;
    padding-bottom: 2em;
}

.footer-body-c1
{
    grid-area: fbc1;
    display: grid;
    grid-template-rows: 1fr 4fr;
}

.footer-body-c1 ul
{
    padding: 0%;
    margin: 0%;
}

.footer-body-c1 ul > li
{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.footer-body-c2
{
    grid-area: fbc2;
    display: grid;
    grid-template-rows: 1fr 4fr;
    justify-content: center;
}

.footer-body-c2 ul
{
    padding: 0%;
    margin: 0%;
}

.footer-body-c2 ul > li
{
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

.footer-body-c3
{
    grid-area: fbc3;
    display: grid;
    grid-template-rows: 1fr 4fr 2fr;
}

.footer-body-c3 div > p
{
    padding-top: 1em;
    padding-bottom: 0.2em;
}

.footer-foot
{
    display: grid;
    grid-template-columns: 1fr;
    background-color: #509ac9;
    padding: 1em;
    font-size: 20px;
    justify-items: center;
    align-items: center;
}

@media only screen and (max-width: 992px) {   
    .header
    {
        grid-template-areas: "header-logo header-logo header-side header-side header-side";
    }

    .header-logo
    {
        grid-area: header-logo;
        padding: 5vw;
    }

    .header-logo > img
    {
        height: 100%;
        width: 40vw;
    }

    .header-side
    {
        grid-area: header-side;
        display: grid;
        grid-template-rows: auto auto;
        row-gap: 1vh;
    }

    .social-media-header
    {
        width: 40vw;    
        padding-top: 1vh;
        padding-bottom: 1vh;
    }

    .header-search
    {
        width: 30vw;
        font-size: 20px;
        height: 6vh;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .menu-container
    {
        grid-template-columns: auto;
        grid-template-areas: "menu";
    }

    .menu 
    {
        width: 100%;
        height: auto;
    }

    .menu ul 
    {
        display: block;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s;
    }

    .menu ul a 
    {
        text-align: left;
        width: 100%;
        background-color: #2b518b;
    }

    .menu-icon 
    {
        height: fit-content;
        width: 100%;
        display: flex;
        justify-content: center;
        letter-spacing: 1em;
        color: white;
        padding:1em 0em;
    }

    #menuToggle:checked ~ ul 
    {
        max-height: 850px;
    }

    .menu-icon i 
    {
        font-size: 25px;
    }

    .container-card
    {
        grid-template-areas: ". main-card main-card main-card main-card . .";
    }

    .box
    {
        grid-template-areas: "box-image box-image box-details box-details box-details";
    }

    .event-container
    {
        grid-template-columns: none;
        grid-template-rows: auto auto;
        grid-template-areas: "ec1" "ec2";
        padding: 0vw 5vw;
    }

    .event-column-1
    {
        padding: 5vw;
        row-gap: 2vh;
    } 

    .event-column-2-list-item
    {
        grid-template-columns: none;
        grid-template-rows: auto auto;
        grid-template-areas: "ecli" "eclid";
    }

    .content-container
    {
        grid-template-columns: none;
        grid-template-rows: 50% 50%;   
        row-gap: 2em;
        padding: 2em;
    }

    .content-container-left
    {
        grid-column-start: 1;
    }

    .blog-header
    {
        justify-content: start;
    }

    .blog-container
    {
        grid-template-columns: 1fr;
        grid-template-rows: auto 4fr 4fr 4fr auto;
        grid-template-areas: "blog-header" "blog-post1" "blog-post2" "blog-post3" "blog-footer";
        row-gap: 2em;
        padding: 5%;
    }

    .footer
    {
        display: grid;
        grid-template-rows: auto auto auto;
        color: white;
        font-weight: 600;
    }

    .footer-head
    {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "fhd" "fhs";
        background-color: #2b518b;
        align-items: flex-start;
        font-size: 20px;
        padding: 1em;
    }

    .footer-head-links
    {
        grid-area: fhd;
    }

    .footer-head-links > ul
    {
        margin: 0%;
        padding: 0%;
    }

    .footer-head-links > ul > li
    {
        list-style-type: none; 
        display: inline-block;
        padding-right: 2em;
    }

    .footer-head-social
    {
        justify-self: flex-start;
        margin-top: 1em;
    }

    .footer-body
    {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: "fbc1" "fbc2" "fbc3";
        background-color: #2b518b;
        justify-items: flex-start;
        row-gap: 4em;
        padding: 1em;
    }
}

@media only screen and (max-width: 600px) {
    .header
    {
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "header-logo" "header-side";
    }

    .header-logo
    {
        grid-area: header-logo;
        padding: 2vh;
    }

    .header-logo > img
    {
        height: 100%;
        width: 100%;
    }

    .header-side
    {
        grid-area: header-side;
        display: grid;
        grid-template-rows: auto auto;
    }

    .social-media-header
    {
        width: 99vw;
        justify-self: center; 
        padding-top: 2vh;
        padding-bottom: 2vh;
        border-bottom-left-radius: 0vw;
    }

    .header-search
    {
        width: 95vw;
        font-size: 20px;
        height: 5vh;
    }

    .search-bar
    {
        justify-self: center;
    }

    .search-bar > button
    {
        position: absolute;
        right: 5vw;
    }

    .container-card
    {
        grid-template-areas: ". main-card main-card main-card main-card main-card .";
        align-items: center;
        justify-content: center;
        justify-items: center;
    }

    .main-card
    {
        padding: 1vh 5vw;
    }

    .box
    {
        grid-template-columns: none;
        grid-template-rows: auto auto;
        grid-template-areas: "box-image" "box-details";
    }
}