body
{
    margin: 0%;
    padding: 0%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header
{
    position: relative;
    top: 0%;
    background-color: rgb(255, 255, 255);
    width: 100%;
    display: grid;
    grid-template-columns: 10% 40% 50%;
    grid-template-rows: 8em 4em 40em;
    justify-content: center;
}

.header-logo
{
    grid-column-start: 2; 
    padding: 1%;
}

.logo-img
{
    height: 100%; 
    max-width: 100%;
}

.social-icon
{
    color:#509ac9;
    font-size: 18px;
    margin-left: 1%;
    margin-right: 1%;
}

.social-media-header
{
    display: flex;
    justify-content: center; /* Horizontally Center */
    align-items: center; /* Vertically Center */
    width: 100%;    
    grid-column-start: 2; 
    background-color: #f5f5f5;
    border-bottom-left-radius: 5em;
}

.search-row
{
    display: grid; 
    grid-template-columns: 85% 10%;
}

.social-media-row
{
    display: grid; 
    grid-template-columns: 50% 50%; 
    justify-items: center; 
}

.header-search
{
    max-width: 40em;
    height: 2em;
    font-size: 25px;
    padding-left: 2%;
    padding-right: 8%;
    border: 1px solid #d8d8d8;
}

.search-bar
{
    display: flex; 
    justify-content: flex-end; 
    align-items: center;
}

.search-bar > button
{
    position: relative;
    right: 2em;
    font-size: 1.5em;
    color:#d8d8d8;
    background-color: white;
    border: none;
}

.menu
{
    display: grid; 
    grid-template-columns: 10% 90%; 
    color:white; 
    align-content: center; 
    font-size: 18px; 
    font-weight: 600; 
    height: 100%;
}

.navigation
{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0%;
    padding: 0%;
}

.navigation > li > a
{
    text-decoration: none;
    color:white;
    margin-right: 1em;
    padding:1.1em;
    
}

.navigation > li > a:hover
{
    background-color: #509ac9;
}

.image-box-column
{
    height: 100%; 
    display:grid; 
    grid-template-columns: 10% 40%; 
    align-items: center;
}

.image-box-row
{
    display: grid;
    grid-auto-rows: auto;
    grid-template-rows: 20% 50% 30%;
    height: 100%;
    padding: 3em;
}

.image-box-title
{
    font-size:2em;
    font-weight: bold;
    text-overflow:ellipsis;
    height: fit-content;
    overflow:hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
}

.image-box-description
{
    margin-top: 1em;
    text-align: justify;
    font-size: 22px;
    text-overflow:ellipsis;
    overflow:hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    white-space: normal;
}

.image-box-btn
{
    background-color: #2b518b;
    border: none;
    color:white;
    width: fit-content;
    padding: 1em;
    font-size: 20px;
}

.image-box-btn:hover
{
    background-color: #264779;
}

.box
{
    display: grid;
    grid-template-columns: 0.5fr 2fr 4fr 0.5fr;
    margin-top: 1em;
    padding: 2em;
}

.box-image
{
    grid-column-start: 2;
}

.box-details
{
    display: grid; 
    grid-template-rows: 1fr 3fr 1fr; 
    padding: 2%;
    height: fit-content;
}

.box-details-title
{
    font-size: 25px;
    font-weight: 500;
}

.box-image > img
{
    height: 85%;
    width:100%; 
    padding: 5%;
    box-sizing: border-box;
}

.box-details > .image-box-btn
{
    margin-top: 10%;
}

.box-details > .box-details-btn
{
    margin-top: 0.5em;
}

.parent 
{
    display: grid;
    grid-template-columns: 0.5fr 2fr 4fr 0.5fr;    
    border: 5px solid tomato;
    font-size: 20px;
} 

.parent > div
{
    padding: 2em;
    border: 5px solid green;    
}

.event-box
{
    display: grid;
    grid-template-columns: 0.5fr 2fr 4.5fr 0.5fr;
    padding: 2em;
    column-gap: 50px;
}

.event-column-1
{
    grid-column-start: 2; 
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.event-column-2
{
    padding: 20px;
    display: grid;
    align-items: center;
    grid-template-rows: repeat(3, 1fr);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.event-image-container
{
    display: grid; 
    grid-template-rows: 20% 70%; 
    row-gap: 1em; 
}

.event-image
{
    height:15em; 
    width: 100%;
}

.event-column-2-list-item
{
    display: grid; 
    grid-template-columns: 1fr 4fr;
    column-gap: 1em;
}

.event-column-2-list-item-hr
{
    grid-column-start: 1; 
    grid-column-end: 3;
}

.content-container
{
    display: grid;
    grid-template-columns: 1fr 5fr 5fr 1fr;
    column-gap: 50px;
    max-height: 100%;
    margin-top: 1em;
}

.content-container-left
{
    grid-column-start: 2;
    display: grid;
    grid-template-rows: auto auto 0.3fr 0.3fr 0.3fr auto;
    
}

.content-container-right
{
    display: grid;
    grid-template-rows: auto 1fr auto 0.3fr 0.3fr 0.3fr auto;
}

.content-publications
{
    background-color: #f5f5f5;
    margin-bottom: 1em;
    padding-left: 1em;
    color: #2b518b;
    font-size: 20px;
}

.limit-para
{
    text-align: justify;
    font-size: 18px;
    text-overflow:ellipsis;
    overflow:hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    white-space: normal;
}

.blog-container
{
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 3fr 1fr;
    grid-template-rows: auto 4fr auto;
    column-gap: 2em;
    grid-template-areas: ". blog-header blog-header blog-header ." ". blog-post1 blog-post2 blog-post3 ." ". blog-footer blog-footer blog-footer .";
}

.blog-header
{
    grid-area: blog-header;
    display: flex; 
    justify-content: center;
    font-size: 35px;
    font-weight: 700; 
    color: #333333;
    margin-top: 1em;
}

.blog-post
{
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.blog-post > div
{
    margin: 0.5em 1em 0.5em 1em;
}

.blog-post1
{
    grid-area: blog-post1;
    height: fit-content;
}

.blog-post2
{
    grid-area: blog-post2;
}

.blog-post3
{
    grid-area: blog-post3;
}

.blog-footer
{
    grid-area: blog-footer;
    text-align: center;
    margin-top: 2em;
}

.footer
{
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
    color: white;
    font-weight: 600;
    margin-top: 4em;
}

.footer-head
{
    display: grid;
    grid-template-columns: 0.5fr 2fr 2fr 2fr 0.5fr;
    grid-template-areas: ". fhd fhd fhs .";
    background-color: #2b518b;
    align-items: center;
    font-size: 20px;
}

.footer-head-links
{
    grid-area: fhd;
}

.footer-head-links > ul > li
{
    list-style-type: none; 
    display: inline-block;
    padding-right: 2em;
}

.footer-head-social
{
    grid-area: fhs;
    color:white;
    justify-self: flex-end;
}

.footer-head-social > a > i
{
    color:white;
    margin-right: 0.5em;
    font-size: 35px;
    vertical-align: middle;
}

.footer-body
{
    display: grid;
    grid-template-columns: 0.65fr 2fr 2fr 2fr 0.5fr;
    grid-template-areas: ". fbc1 fbc2 fbc3 .";
    background-color: #2b518b;
    padding-top: 2em;
    padding-bottom: 2em;
}

.footer-body-c1
{
    grid-area: fbc1;
    display: grid;
    grid-template-rows: 1fr 4fr;
}

.footer-body-c1 ul
{
    padding: 0%;
    margin: 0%;
}

.footer-body-c1 ul > li
{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.footer-body-c2
{
    grid-area: fbc2;
    display: grid;
    grid-template-rows: 1fr 4fr;
    justify-content: center;
}

.footer-body-c2 ul
{
    padding: 0%;
    margin: 0%;
}

.footer-body-c2 ul > li
{
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

.footer-body-c3
{
    grid-area: fbc3;
    display: grid;
    grid-template-rows: 1fr 4fr 2fr;
}

.footer-body-c3 div > p
{
    padding-top: 1em;
    padding-bottom: 0.2em;
}

.footer-foot
{
    display: grid;
    grid-template-columns: 1fr;
    background-color: #509ac9;
    padding: 1em;
    font-size: 20px;
    justify-items: center;
    align-items: center;
}


@media only screen and (max-width: 600px) {

}

@media only screen and (max-width: 992px) {
    .header
    {
        grid-template-columns: 40% 60%;
    }

    .header-logo
    {
        grid-column-start: 1; 
        display: grid;
        grid-template-columns: 100%;
        width: 100%;
        height: 100%;
        margin: 0%;
    }

    .logo-img
    {
        height: 80%;
        width: 100%;
        margin: auto;
    }
    
    .social-media-header
    {
        grid-column-start: 1;
    }

    .social-media-row
    {
        grid-template-columns: 100%;
    }

    .search-row
    {
        display: grid; 
        grid-template-columns: 100%;
        
    }

    .header-search
    {
        width: 8em;
        height: 1.5em;
        font-size: 25px;
        padding-left: 1%;
        padding-right: 1%;
        border: 1px solid #d8d8d8;
    }

    .search-bar > button
    {
        position: relative;
        right: 1.5em;
        font-size: 1.5em;
        color:#d8d8d8;
        background-color: white;
        border: none;
    }

    .image-box-column
    {
        grid-template-columns: 10% 80%;
    }

    .image-box-description
    {
        margin-top: 0.5em;
    }

    .box
    {
        display: grid;
        grid-template-columns: none;
        grid-template-rows: 10% 80% 10%;
        overflow: hidden;
    }
    .box-image
    {
        grid-column-start: 1;
        height: 100%;
    }

    .event-box
    {
        grid-template-rows: auto auto;
        grid-template-columns: 100%;
        padding: 2em;
        row-gap: 10px;
    }

    .event-column-1
    {
        grid-column-start: 1; 
        height: fit-content;
    }

    .event-column-2
    {
        grid-template-rows: repeat(3, 0.5fr);
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    }

    .event-column-2-list-item
    {
        display: grid; 
        grid-template-columns: none;
        grid-template-rows: 40% 60%;
    }

    .event-column-2-list-item-hr
    {
        grid-column-start: 1; 
        grid-column-end: 1;
    }

    .content-container
    {
        grid-template-columns: none;
        grid-template-rows: 50% 50%;   
        row-gap: 2em;
        padding: 2em;
    }

    .content-container-left
    {
        grid-column-start: 1;
    }

    .blog-header
    {
        justify-content: start;
    }

    .blog-container
    {
        grid-template-columns: 1fr;
        grid-template-rows: auto 4fr 4fr 4fr auto;
        grid-template-areas: "blog-header" "blog-post1" "blog-post2" "blog-post3" "blog-footer";
        row-gap: 2em;
        padding: 5%;
    }


    .footer
    {
        display: grid;
        grid-template-rows: auto auto auto;
        color: white;
        font-weight: 600;
    }

    .footer-head
    {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "fhd" "fhs";
        background-color: #2b518b;
        align-items: flex-start;
        font-size: 20px;
        padding: 1em;
    }

    .footer-head-links
    {
        grid-area: fhd;
    }

    .footer-head-links > ul
    {
        margin: 0%;
        padding: 0%;
    }

    .footer-head-links > ul > li
    {
        list-style-type: none; 
        display: inline-block;
        padding-right: 2em;
    }

    .footer-head-social
    {
        justify-self: flex-start;
        margin-top: 1em;
    }

    .footer-body
    {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: "fbc1" "fbc2" "fbc3";
        background-color: #2b518b;
        justify-items: flex-start;
        row-gap: 4em;
        padding: 1em;
    }
}